/* General form */
form {
  padding: 1.5em;
  color: #000;
  font-family: "Tahoma", sans-serif;
  text-align: center;
}

form fieldset {
  border: none;
  margin-bottom: 0.25em;
}

form fieldset: last-of-type {
  margin-bottom: 0;
}

form legend {
  color: #fff;
  font-size: 2.5em;
  font-family: "Tahoma", sans-serif;
  padding-bottom: 0.5em;
  /*margin-left: 1.25em;*/
}

form ol li {
  line-height: 1em;
  list-style: none;
  padding: 0.5em 0;
  margin-bottom: 0.25em;
}

form button {
  background:  #778899;
  color: #000;
  display: block;
  font: 0.955em "Tahoma", sans-serif;
  letter-spacing: 0.02em;
  padding: 0.5em 0.5em;
  text-transform: uppercase;
  margin-left: 12em;
}

form button:hover {
  background:  #bcc4cd;
  cursor: pointer;
}

form input {
  padding: 1em 3em;
}

