form
  width: $form-width

form legend
  color: $bravo-primary
  font-size: $font_size

form input
  width: $form-width

form textarea
  width: $form-width
  display: block
  margin-left: auto
  margin-right: auto
