footer{
  @include burn;
  font-size: $font-size;
  border: 3em;
  padding: 0.5em 0 0 1em;
  border-radius: 1em;
  background-image: url(/img/seattle.jpg);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  &-image {
    padding: 1em;
    width: 5em;
    margin-left: 60%;
  }
  &-location {
    color: $delta-primary;
    display: inline-block;
    text-align: left;
  }
}




