// Font importing
@import url(http://fonts.googleapis.com/css?family=Artifika);

//

html {
  font: em($font_size, 12) $primary_font_family;
}

h1 {
  font-size: $heading_1;
}

a:hover {
  color: $charlie-primary;
}
