footer {
  font-size: $font-size;
  border: 3em;
  padding: 0.5em 0 0 1em;
  border-radius: 1em;
  background-image: url(seattle.jpg);
  @include burn;
  
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-end;
}

.footer-image {
  padding: 1em;
  width: 5em;
}

.footer-location {
  font-family: 'Aller', sans-serif;
  color:#FFF;
  display: inline-block;
  padding-left: 0;
  text-align:left;
}
